@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        max-width: 420px;
        max-height: 1080px;
        overflow: auto;
    }
}

@media screen and (max-width: 700px) {
    .desc {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    input , button {
        display: block;
        margin: auto;
        margin-top: 5px;
    }
}

@media screen and (max-width: 700px) {
    .divedit {
        width: 100%;
        max-width: 410px;
    }
}
body {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: linear-gradient(rgb(24, 0, 112), rgb(173, 177, 212));
  font-family: 'Supermercado One', cursive;
  overflow: hidden;
}

.container {
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    text-align: center;
    color: azure;
    font-size: 64px;
}

p {
    color: rgb(165, 22, 22);
}

.desc {
    color: azure;
}

input , button {
    font-family: 'Supermercado One', cursive;
    width: 130px;
    height: 25px;
    padding: 0;
}

li {
    color: rgb(255, 83, 83);
}

.divedit {
 background-color: rgba(255, 255, 255, 0.582);
 margin-top: 25px;
 width: 75%;
 display: inline-block;
 white-space: nowrap;
 overflow: auto !important;
 text-overflow: ellipsis;
 text-align: center;
 
}
